{% include "formapp/head.html" %}

{% include "formapp/navbody.html" with app="formapp" admin=user.is_superuser %}

    <div class="row">
        <div class="col-sm-12">

        {% if msg %}
            <strong style="color: green;">{{ msg }}</strong><br><br>
        {% endif %}
<h1>contact form:</h1>
<strong>Sender:</strong> {{ sender }}<br/>
<strong>Subject:</strong> {{ subject }}<br/>
<strong>Message:</strong> {{ message | safe |linebreaks }}<br/>
<br/><br/>
<a href="/contact/">Back to contact page</a>
</div>
</div>
{% include "formapp/footer.html" %}