<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.2.js"
			  integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" crossorigin="anonymous">
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">

    <div class="jumbotron" style="text-align: center;">
        <H1>Python Django website</H1>
    </div>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Python Django website</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home <span class="glyphicon glyphicon-home"></span></a></li>
          <li><a href="/polls/">Polls <span class="glyphicon glyphicon-align-left"></span></a></li>
          <li class="active"><a href="/news/">News <span class="glyphicon glyphicon-blackboard"></span></a></li>
          <li><a href="/contact/">Contact us <span class="glyphicon glyphicon-phone-alt"></span></a></li>
          {% if admin %}
            <li><a href="/admin/">admin</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>


        <div class="row">
        <div class="col-sm-3">
            <a href="/news/submit/">Submit an article</a><br/><hr/>
            <h3>Search</h3>
            {% csrf_token %}
            <input type="text" id="search" name="search"/> <label><span class="glyphicon glyphicon-search"></span></label>
            <br/><hr/>
            <div id="search_results">
            </div>
        </div>
        <div class="col-sm-9">
            {% if author_page %}
                <h2>New from {{ author_name }}</h2>
                <a href="/news/">Back to news page</a>
            {% endif %}
{% if news_list %}
            <table id="newstable" border='0' style="margin-left: 15px; width: 100%;">
    {% for new in news_list %}
                <tr><td>
                <div>
                <h3 class="title"><a href="/news/article/{{ new.id }}/{{ news_list.number }}/">{{ new.name }}</a></h3>
                <!--</b></td></tr><tr><td><span style="font-size:15px;">-->
                <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> {{ new.date }}</p>
                <p>{{ new.short_text |linebreaks }}</p>
                <p class="text-muted">Presented by: <span class="glyphicon glyphicon-user"></span> <a href="/news/author/{{ new.writer }}/">{{ new.writer }}</a></p>
                </div>
                <hr>
                </td></tr>
    {% endfor %}
            </table>
{% else %}
            {% if author_page %}
                <p>There is no such author.</p>
            {% else %}
                <p>No news are available.</p>
            {% endif %}
{% endif %}
            <br>
            <div class="pagination">
                <span class="step-links">
                    {% if news_list.has_previous %}
                        <a href="?page={{ news_list.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ news_list.number }} of {{ news_list.paginator.num_pages }}.
                    </span>

                    {% if news_list.has_next %}
                        <a href="?page={{ news_list.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>


        </div>
    </div>
    </div>

<script>
    $(function(){
        $('#search').keyup(function() {
            $.ajax({
                type: "POST",
                url: "/news/",
                data: {
                    'search_text' : $('#search').val(),
                    'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
                },
                success: searchSuccess,
                dateType: 'html'
            });
        });
    });

    function searchSuccess(data, textStatus, jqXHR)
    {
        $('#search_results').html(data);
    }
</script>
</body>
</html>