{% include "polls/head.html" %}

{% include "polls/navbody.html" with app="polls" admin=user.is_superuser %}

<div class="row">
    <div class="col-sm-12">
        <br>
        <h3>{{ question.question_text }}</h3><br>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<table border="0" style="margin-left: 15px"><tr><td>
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <label for="choice{{ forloop.counter }}"><input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    {{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" class="btn btn-success" value="Vote" />
</form>
</td></tr></table>
        <br><hr><a href="/polls/">Back to polls page</a> or <a href="/polls/{{ question.id }}/results/">Show poll results</a>
    </div>
</div>
{% include "polls/footer.html" %}