{% include "polls/head.html" %}

{% include "polls/navbody.html" with app="polls" admin=user.is_superuser %}

<div class="row">
        <div class="col-sm-12">
        <h3>List of available polls:</h3>
        {% if msg != "" %}
            <strong style="color: green;">{{ msg }}</strong>
        {% endif %}
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<br/><hr/>
<a href="/polls/addpoll/">Add new poll</a>
</div>
</div>
{% include "polls/footer.html" %}